body {
    background-image: url("images/360_F_660152306_FLNe3V8vrQWl6jVGMqOvffQwVr2AwH6F.jpg");
    background-size: cover; /* Adjusts the image to cover the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center; /* Centers the image */
}
